@charset 'UTF-8';

body {
    background-color: rgb(81, 81, 253);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

h1 {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}

select#flista {
    width: 150px;
}

footer {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    padding: 10px;
    color: white;
    text-align: center;
    font-style: italic;
}